{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set postListHeading = 'All posts' %}
{% set postListItems = collections.posts %}

{% block content %}
  <div>
    {% include "partials/intro.njk" %}
    {% include "partials/post-list.njk" %}
  </div>
{% endblock %}
