<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />

  {% if process.env.NODE_ENV === 'production' %}
    {# CSS will be injected by purify-css transform. #}
    <!-- __PURGECSS_INJECT -->
  {% else %}
    {# Using hashForProd here will just append a random string to cache bust #}
    {# the CSS during dev. #}
    <link rel="stylesheet" href="{{ helpers.hashForProd('/css/main.css') }}">
  {% endif %}

  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  {% include "partials/global/meta.njk" %}

  {# Add a facility for pages to declare an array of script paths. #}
  {# If no scripts are declared we will use the default page script. #}
  {# default.js loads the basic set of custom elements that all pages need. #}
  {% for item in pageScripts %}
    <script type="module" src="{{ helpers.hashForProd(item) }}"></script>
  {% else %}
    <script type="module" src="{{ helpers.hashForProd('/js/default.js') }}"></script>
  {% endfor %}

  {% block head %}
  {% endblock %}
</head>
<body>
  {% include "partials/global/site-head.njk" %}
  {% block content %}
  {% endblock content %}
  {% include "partials/global/site-foot.njk" %}
  {% block foot %}
  {% endblock %}
  {# <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script> #}
  {% include 'partials/global/analytics.njk' %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
