<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ helpers.hashForProd('/styles/main.css') }}">
  {% for item in pageStyles %}
    <link rel="stylesheet" href="{{ helpers.hashForProd(item) }}">
  {% endfor %}

  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  {% include "partials/meta.njk" %}

  {# Add a facility for pages to declare an array of script paths. #}
  {# If no scripts are declared we will use the default page script. #}
  {# default.js loads the basic set of custom elements that all pages need. #}
  {% for item in pageScripts %}
    <script type="module" src="{{ helpers.hashForProd(item) }}"></script>
  {% else %}
    <script type="module" src="{{ helpers.hashForProd('/js/default.js') }}"></script>
  {% endfor %}

  {% block head %}
  {% endblock %}

  {% include 'partials/dark-mode.njk' %}
  {% include 'partials/analytics.njk' %}
</head>
<body class="bg-white dark:bg-dark-bg dark:text-dark-text">
  {% include "partials/header.njk" %}
  <main id="main-content" tabindex="-1" class="prose prose-lg dark:prose-invert md:prose-xl lg:prose-2xl mx-auto mt-6 md:mt-10 px-4 sm:px-6 md:px-8">
    {% block content %}
    {% endblock content %}
  </main>
  {% include "partials/footer.njk" %}
  {% block foot %}
  {% endblock %}
</body>
</html>
