{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <article class="space-y-6 md:space-y-10">
    <div class="space-y-3">
      <h1 class="m-0 md:m-0 lg:m-0">Hi there! 👋</h1>
      <p>
        I'm Rob Dodson, a web developer passionate about climate change.
      </p>
    </div>
    {% include "partials/post-list.njk" %}
    {% include "partials/pagination.njk" %}
  </article>
{% endblock %}
