{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <article>
    {% include "partials/intro.njk" %}
    <div>
      {{ content | safe }}
    </div>
  </article>
{% endblock %}

{{ content | safe }}
