{% extends 'layouts/base.njk' %}

{% set pageScripts = ['/js/post.js'] %}
{% set pageStyles = ['/styles/dracula.css'] %}

{% block content %}
  <main id="main-content" tabindex="-1" class="prose md:prose-lg lg:prose-xl mx-auto py-6 px-4 sm:p-6 md:py-10 md:px-8">
    <article>
      <header>
        <h1 class="m-0 md:m-0 lg:m-0">{{ title }}</h1>
        <div class="mt-4 text-base">
          {% if date %}
            <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
          {% endif %}
          <span>— {{ helpers.getReadingTime(content) }} minute read</span>
        </div>
      </header>
      <div class="mt-10">
        {{ content | safe }}
      </div>
      {% if tags %}
        <footer>
          <h2>Filed under:</h2>
          <div class="not-prose">
            <ul class="list-none p-0 flex overflow-x-auto gap-6">
              {% for item in tags %}
                <li class="flex-shrink-0">
                  <a href="/tags/{{ item }}" class="block bg-black text-white px-3 py-1">{{ item }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
