---
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - postFeed
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---

{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading %}Posts filed under “{{ tag }}”{% endset %}
{% set introHeadingLevel = '2' %}

{# Post list content #}
{% set postListItems = collections[tag] %}

{% block content %}
  <main id="main-content" tabindex="-1" class="prose md:prose-lg lg:prose-xl mx-auto py-6 px-4 sm:p-6 md:py-10 md:px-8">
    {% include "partials/intro.njk" %}
    {% include "partials/post-list.njk" %}
    {% include "partials/pagination.njk" %}
  </main>
{% endblock %}
