---
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - postFeed
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---

{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading %}Posts filed under “{{ tag }}”{% endset %}
{% set introHeadingLevel = '2' %}

{# Post list content #}
{% set postListItems = collections[tag] %}

{% block content %}
  {% include "partials/intro.njk" %}
  {% include "partials/post-list.njk" %}
  {% include "partials/pagination.njk" %}
{% endblock %}
