<footer class="prose dark:prose-invert mx-auto flex flex-col items-center justify-center my-8 md:my-12 px-4 sm:px-6 md:px-8">
  {% set ariaLabel = 'footer navigation' %}
  {% include "partials/nav.njk" %}
  <small class="mt-2">© Copyright 2026 Rob Dodson</small>
</footer>
