<footer class="prose dark:prose-invert space-y-4 mx-auto flex flex-col items-center justify-center my-8 md:my-12 px-4 sm:px-6 md:px-8">
  <div>
    <theme-toggle></theme-toggle>
  </div>
  <small>© Copyright 2022 Rob Dodson</small>
</footer>
