<a class="skip-link" href="#main-content">Skip to content</a>
<header class="prose prose-lg md:prose-xl lg:prose-2xl dark:prose-invert mx-auto mt-6 px-4 sm:px-6 md:px-8 md:mt-10">
  <div class="flex items-center justify-between">
    <a href="/" class="no-underline text-xl lg:text-2xl font-bold">
      <span class="sr-only">{{ site.name }} - Home</span>
      <span aria-hidden="true">{{ site.name }}</span>
    </a>
    <theme-toggle></theme-toggle>
  </div>
</header>