<nav class="nav space-x-4" aria-label="{{ariaLabel}}">
  <a class="py-2" href="/">Home</Link>
  <a class="py-2" href="https://twitter.com/rob_dodson">Twitter</a>
  <a class="py-2" href="https://github.com/robdodson">GitHub</a>
  <a class="py-2" href="https://robdodson.me/feed.xml">RSS</a>
</nav>