<div class="bg-[#ffe3a9] dark:text-black my-8 md:my-12 p-6 md:p-10 rounded-lg">
  It looks like you've found one of my older posts 😅 It's possible that some of the information may be out of date (or just plain wrong!)
  If you've still found the post helpful, but feel like it could use some improvement, <a class="dark:text-black" href="https://twitter.com/rob_dodson">let me know on Twitter</a>.
</div>