<a class="skip-link" href="#main-content">Skip to content</a>
<header class="prose md:prose-lg lg:prose-xl mx-auto pt-6 px-4 sm:px-6 md:px-8 md:pt-10">
  <div class="m-0 text-xl mr-6">
    <a href="/" class="no-underline">
      <span class="sr-only">{{ site.name }} - Home</span>
      <span aria-hidden="true">{{ site.name }}</span>
    </a>
  </div>
  {% set ariaLabel = 'navigation' %}
  {% include "partials/nav.njk" %}
</header>
